<h1>{{title}}</h1>

<p>
<form action="/" method="post">
    <input type="text" name="pi">
    <button name="bot1" value="1">A ver.</button>
    <button name="bot2" value="2">¡Es muy largo!</button>
    <br><br>
    <h2>{{mensaje}}</h2>
    {{#if ok}}
        <h3>{{pi}}</h3>
    {{/if}}
</form>
</p>
