<h1>{{title}}</h1>
<p>Ejemplo 3 pages</p>
<nav>
    <ul>
        <li><a href="/perros">Perros</a></li>
        <li><a href="/gatos">Gatos</a></li>
        <li><a href="/liebres">Liebres</a></li>
    </ul>
</nav>