<h1>Ejemplo de Liebres sin pasar paranetros.</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque officia a placeat eius totam doloremque quod cum dolorem. Fugiat vitae tenetur distinctio inventore odio placeat fugit harum voluptas temporibus deleniti.</p>
<br>
<a href="/">Volver</a>
